body{
    background-image: url(https://img.freepik.com/fotos-premium/conceito-do-hacker-codigos-binarios-do-computador-texto-verde-no-fundo-preto_68339-21.jpg);

}
h1{
color: red;
display: block;
margin: auto;
text-align: center;
font-size: 70px;

}