body{
    background-color: rgb(14, 14, 22);
}
h1{
text-align: center;
font-size: 70px;
color: rgb(205, 198, 198);
}
form fieldset{
 display: flex;
 flex-direction: column;
 width: 50vw;
 height: 55vh;
 margin: auto;
 color:rgb(217, 212, 212);
 font-size: 10px;
 background-color: rgb(14, 14, 22);
 border:solid 1px brown;
}
input[type="submit"]{
background-color: brown;
color: black;
border: solid 1px brown;

}
input[type="radio"]{
accent-color: red;

}
form fieldset{
    display: flex;
    flex-direction: column;
}
img{
width: 15vw;
height: 20vh;
display: block;
margin: auto;
}
fieldset{


}
legend{
background-color: rgb(14, 14, 22);
font-size: 35px;
}
h2{
    color: rgb(207, 205, 205);
    text-align: center;
    font-size: 40px;
}
input{
background-color: rgb(24, 24, 24);
border: solid rgb(24, 24, 24);
color: #e7f4ff;
}